<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="row">
        <div class="offset-md-offset-3 col-md-12">
            <h1><%= title %></h1>
            <style>
                body {
                    background-image: url('Assets/images/cartking2.jpg');
                    background-size: cover;
                }
            </style>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row -->
                <tr class="d-flex">
                    <th class="text-center col-3">Item</th>
                    <th class="text-center col-2">Description</th>
                    <th class="text-center col-3">Price</th>
                    <th class="text-center col-2"></th> <!-- Added here -->
                </tr>
       
                <!-- Repeatable Template Row -->
                <% for(let count=0; count <  productlist.length ; count++)  { %>
                <%- console.log("Debug:", productlist[count]) %>
                <tr class="d-flex">
                    <td class="text-center col-3"><%= productlist[count].item %></td>
                    <td class="text-center col-2"><%= productlist[count].description %></td>
                    <td class="text-center col-3"><%= productlist[count].price %></td>
                    <td class="text-center col-2">
                        <form action="/add-to-cart" method="POST">
                            <input type="hidden" name="productId" value="<%= productlist[count]._id %>">
                            <button type="submit" class="btn btn-success btn-sm">
                                <i class="fas fa-cart-plus"></i> Add to Cart
                            </button>
                        </form>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>
<p><a href="http://localhost:3500/shopping-cart">View Shopping Cart</a></p> <!-- Added here -->

<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>
